@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome :) ManyJobs API</h1>

    <span class="link_job"><a asp-controller="JobOffers" asp-action="Index" class="btn">JobOffers List</a></span>
    <span class="link_job"><a asp-controller="JobSeekers" asp-action="Index" class="btn">JobSeekers List</a></span>
</div>
